{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Login</th>
                <th>Pass</th>
                <th>Fio</th>
                <th>Dtcreate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('users_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.login }}</td>
                <td>{{ user.pass }}</td>
                <td>{{ user.fIO }}</td>
                <td>{% if user.dtCreate %}{{ user.dtCreate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('users_show', { 'id': user.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
